/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
/* Fallback */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Nunito";
}
